body {
    background-color: rgb(216, 240, 204);
    font-family:'Fira Sans', sans-serif;
    font-style: italic;
    padding-top: 25px;
    }
h1{
    color: rgb(14, 65, 110);
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    }
img{ 
    width: 70px;
    height: 70px;
    }
a{
    color: rgb(36, 67, 94);
    font-weight: bold;
    font-size: 20px;
    padding-right: 20px;
    }
p{
    color: rgb(37, 34, 20);
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    }
form{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;  
   }
#msg1{
    color: rgb(45, 8, 8);
    padding-left: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: none;
 }
#msg2{
    color: rgb(152, 12, 112);
    padding-left: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    padding-top: 25px;
    padding-bottom: none;
}
#d{
    text-align: center;
}
#btn{
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(180, 213, 242);
    font-family: 'Trebuchet MS', sans-serif;
    padding: 3px;
}
#btn2{
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(216, 168, 195);
    font-family: 'Trebuchet MS', sans-serif;
    padding: 3px;
}
#content{
    background-color: rgb(124, 212, 151);
    border: 2px solid #000; /* Border style */
    border-radius: 5px;
    padding: 20px; 
    width: 600px; 
    height: 280px; 
    margin: 20px auto;
}
#content2{
    background-color: rgb(124, 212, 151);
    border: 2px solid #000; 
    border-radius: 5px;
    padding: 20px; 
    width: 500px; 
    height: 150px; 
    margin: 20px auto;
    padding-bottom: 20px;
    text-align: center;
}
input{
    font-size: medium;
    size: 10cm;

}
.container{
    text-align: right;
}
#pr4{
    text-align: center;
}
ol{
    text-align: left;
}
