<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<h1>Welcome to My <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="Python Logo" class="h-8 mr-3">Portfolio!</h1>
    <a href="{{ url_for('program1')}}">Guessing Game</a>
    <a href="{{ url_for('program2')}}">Time Converter</a>
    <a href="{{ url_for('program3')}}">Temperature Converter</a>
    <a href="{{ url_for('program4')}}">Password Strength Checker</a>
    <a href="{{ url_for('program5')}}">Email Validator</a>
</body>

</html>