<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program 1</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Guessing Game</h1>
<a href="{{ url_for('home')}}">Home Page</a>
<p>This is a program that generates a random number between 1 and 100 and lets the user guess the number. The program provides feedback ("higher" or "lower") until the user guesses the correct number. The program also keeps track of the number of guesses it takes for the user to guess correctly.</p> 
 <form method="POST">
    <input name="guess" placeholder="Enter your guess here:">
    <!-- <input type="submit"> -->
    <button id="btn" type="submit"> Click to check!</button>
   </form> 
   <div id="d">
   <p id="msg1"> Number of guesses: {{ number }} </p>
   <p id="msg2"> {{ message }} </p>
  </div>
  <form action ="/program1/reset" method="POST">
    <button id="btn2" type="submit"> Reset Game!</button>
   </form> 
</body>
</html>