<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program 2</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Time Converter</h1>
<p>This program takes time from user input in the following format: "11:20 PM" or "02:00 AM". And converts it to 24-Hour format: "23:20" or "02:00".</p> 
<form method="POST">
    <p id="msg1">Enter time to convert:  <input name="time">
       <input type="submit"></p> 
    <p id="msg1"> Result: {{ result }} </p>
   </form>
   
</body>
</html>